{% extends 'base.html' %}

{% block content %}


  {% for post in posts %}
    <div class="post-card">
        <div class="post-card-number">
          <p>{{post.0}}</p>
        </div>
        <div class="post-card-content">
          <p class="p-small text-gray">October 15, 2021 | 12:24 PM</p>
          <p class="p-large">{{ post.1 }}</p>
          <p class="p-large">{{ post.2 }}</p>
          <p class="p-xsmall text-gray">{{ post.3 }}</p>
          <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="TIP AUTHOR" /> 
          </form>
        </div>
      </div>
      
    </div>
  {% endfor %}
  

  

{% endblock content %}